menu "Module Configuration"

config NUM_LED
    int "Led Number"
	help
		Number of LEDs associated to the module.

config LIGHT_ID
    int "Light ID"
  help
    ID of the light associated to this module.

config WIFI_SSID
    string "WiFi SSID"

config WIFI_PASS
    string "WiFi PASS"

config MQTT_BROKER_URI
    string "Broker Uri"
  help
    The URI of your TCP mqtt broker.
    Check https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/protocols/mqtt.html#uri
    to see how it should be specified.

endmenu
